.item_hide {
    display: none;
}

.toast {
    min-width: 300px;
}

img.img-flag {
    margin: 0 !important;
    display: inherit !important;
    height: 15px;
    width: 18px;
}

.user-panel img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem !important;
}

.user-panel .info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 5px !important;
}

.login-box {
    width: 600px;
}

.nav-sidebar > .nav-item .nav-icon {
    vertical-align: sub;
}

.bg-purple-light {
    background-color: #a673ef!important;
}
.bg-purple-light, .bg-purple-light>a {
    color: #fff!important;
}
a.bg-purple-light:focus, a.bg-purple-light:hover, button.bg-purple-light:focus, button.bg-purple-light:hover {
    background-color: #605ca8!important;
}

@media (max-width: 768px) {
    .login-box {
        width: 360px;
    }
}
