<div class="root">
    <div class="list-w-img-container">
        <div class="list">
            <div class="base-popup_close deleteThis">
            <span class="close-popup-control">
                <img src="plugins/keyword-generator/img/close.svg" alt="">
            </span>
            </div>
            <div>
                <a class="item-title" data-text="word-list"></a>
            </div>
            <textarea
                    wrap="off"
                    rows="14"
                    class="wordList"
                    data-text="word-placeholder"
                    placeholder=""></textarea>
            <div class="optionsHeader">
                <a class="arrowDown additionalOptions __dashed" href="#" data-text="Additionally"></a>
                <div class="wordQuantityContainer"><a><span data-text="Words"></span>: <a class="wordQuantity"></a></a></div>
            </div>
            <div class="additionalOptionsList">
                <label class="ui_label __no-select">
                <span class="ui_checkbox">
                    <input type="checkbox" class="additionalCheckboxOption ui_checkbox_input" value="exactMatch"/>
                    <span class="ui_checkbox_fake-input"></span>
                </span>
                    <span data-text="Add"></span> !
                    <span class="__helper-link ui_tooltip_w">
                    <i class="fa fa-question-circle"></i>
                    <span class="ui_tooltip __right __l">
                        <span class="ui_tooltip_content" data-text="Use-to-set"></span>
                    </span>
                </span>
                </label>
                <br>
                <label class="ui_label __no-select">
                <span class="ui_checkbox">
                    <input type="checkbox" class="additionalCheckboxOption ui_checkbox_input" value="broadMatchModifier"/>
                    <span class="ui_checkbox_fake-input"></span>
                </span>
                    <span data-text="Add"></span> +
                    <span class="__helper-link ui_tooltip_w">
                    <i class="fa fa-question-circle"></i>
                    <span class="ui_tooltip __right __l">
                        <span class="ui_tooltip_content" data-text="Broad-match"></span>
                    </span>
                </span>
                </label>
                <br>
                <label class="ui_label __no-select">
                <span class="ui_checkbox">
                    <input type="checkbox" class="additionalCheckboxOption ui_checkbox_input" value="addToResult"/>
                    <span class="ui_checkbox_fake-input"></span>
                </span>
                    <span data-text="Add-source-list"></span>
                    <span class="__helper-link ui_tooltip_w">
                    <i class="fa fa-question-circle"></i>
                    <span class="ui_tooltip __right">
                        <span class="ui_tooltip_content" data-text="Words-from-this-list"></span>
                    </span>
                </span>
                </label>
                <br>
                <label class="ui_label __no-select">
                <span class="ui_checkbox">
                    <input type="checkbox" class="additionalCheckboxOption ui_checkbox_input" value="addBlankWord"/>
                    <span class="ui_checkbox_fake-input"></span>
                </span>
                    <span data-text="Combine-without"></span>
                    <span class="__helper-link ui_tooltip_w">
                    <i class="fa fa-question-circle"></i>
                    <span class="ui_tooltip __right">
                        <span class="ui_tooltip_content" data-text="Variants-without-words"></span>
                    </span>
                </span>
                </label>
                <br>
            </div>
        </div>
    </div>
</div>

